/*HEADER*/
.header-container{
    background: rgb(243, 185, 199);
    padding: 10px;
}
.header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.header img{
    display: inline-block ;
    height:82px;
    width:82px;
    border-radius: 50%; 
}

/*POSTS*/
.post-container{
    background:lightgray;
    border: 1px solid darkgray; 
    padding: 35px 70px;
    margin: 10px 35px;
}
.content-container{
    background:white;
    box-align: left;
}
.image-container{
    background:aqua;
    display: inline-block ;
}